body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

/* section {
  background-color: #f0f0f0;
} */

.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

#about-me,
#projects h2,
h3 {
  color: #1c1d25;
}

/* parallax */
.parallax {
  /* The image used */
  background-image: url("./images/wboats.jpg");

  /* Full height */
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  margin: 0;
  font-family: "Alex Brush", cursive;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
  /* padding-left: 10px; */
  padding-inline: 25px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  /* background-color: imperial red; */
  background-color: #ed2939;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  animation-duration: 3s;
  animation-name: slidein;
}

/* button slide animate */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 200px;
  }
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.logo {
  height: 80px;
  margin: 30px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  background-color: #fdfdfd;
  border-radius: 15px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

/* responsive */
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  /* border-radius: 125px; */
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  /* color: #5a79df; */
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

#hamburger {
  display: none;
}

#hamburger:focus {
  outline: 0;
}

/* responsive */
@media only screen and (max-width: 1000px) {
  #hamburger {
    display: block;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 15px;
    align-self: flex-end;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
  }

  #hamburger span:nth-child(2) {
    top: 18px;
  }

  #hamburger span:nth-child(3) {
    top: 36px;
  }

  #hamburger.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #hamburger.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}

/* animated ninja star */
.ninja {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  animation-delay: 2s;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
